# Web Framework
fastapi
uvicorn[standard]

# Banco de Dados (PostgreSQL)
sqlalchemy
psycopg2-binary

# Inteligência Artificial e Processamento
langchain
langchain-community
langchain-openai
pypdf
python-multipart

# Utilidades
python-dotenv
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]